<%- include('../port/layout-start', {title: title}) %>
<%- include('../port/menu') %>

<div class="title-box"><h1 class="title"><%= title %></h1></div>

<form action="/api/books/update/<%= book.id %>" class="create-book" method="post"  enctype="multipart/form-data">
  <%- include('form', {book: book}) %>
</form>

<%- include('../port/layout-end') %>