<%- include('../port/layout-start', {title: title}) %>
<%- include('../port/menu') %>

<div class="title-box"><h1 class="title"><%= title %></h1></div>

<div class="users">
  <div class="welcome">Добро пожаловать, пользователь!</div>
  <div>Пользователь id: <%= user.id %></div>
  <div>Почта: <%= user.mail %></div>
</div>

<%- include('../port/layout-end') %>